{%extends 'base.html'%}

{%block content%}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">ProTaTo</h1>
          <p>Protato es una Aplicacion Web que surge de un concurso educativo organizado por la Empresa Sevillana <a href="https://www.ec2ce.com">Ec2ce</a>. Consta de una Agenda Inteligente capaz de administrar eficientemente tu tiempo con una interfaz gráfica muy sencilla y legible. Es un proyecto de Software Libre con toda la documentación disponible en GitHub.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Documentación &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Flexibilidad</h2>
            <p>Organizar un periodo largo de tiempo con la insercción de pocos eventos. Un mismo evento puede servir para diferentes situaciones gracias a su horario flexible.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Sencillez</h2>
            <p>Con una interfaz facil de usar. No hay que rellenar infinidad de argumentos a la hora de añadir un evento. Solo necesitamos unos pocos argumentos para hacer mucho. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver más &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Eficiencia</h2>
            <p>Prueba todas las convinaciones posibles para ofrecerte el resultado más óptimo para ti. Manda una alerta si no es capaz de cuadrar algún evento.</p>
          </div>
          <p><a class="btn btn-secondary" href="#" role="button">Ver más &raquo;</a></p>
        </div>

        <hr>

      </div> <!-- /container -->
{%endblock%}
{%block bootstrap_js%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
{%endblock%}