/*CSS de la pag Agenda Semanal*/
:root{
    --hora:3em;
    --min:calc(var(--hora)/60);
}
#calsemanal{
    width: 100%;
    height: 100%;
    margin-top: 3.7em;
    background-color: white;  
}
#days{
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    width: 100%;
    height: 7em;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
}
#days > div:nth-child(1){
    width: 5em !important;
    height: 7em;
}
.day{
    display: inline-block;
    width: calc((100% - 5em)/7);
    height: 100%;
    border-right: 1px solid #e1e1e1;
    border-collapse: collapse;
}
h8, h9{
    display: block;
    text-align: center;
}
h8{
    font-size: 3em;
}
#calendario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
#time {
    display: inline-block;
    flex-flow: column wrap;
    width: 5em;
    height: 100%;
    float: left;
}
#time > div:nth-child(1) {
    height: 7em !important;
    border: 0;
}
.hora{
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
#celdas{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: calc(100% - 5em);
    float: left;
    margin-top: 7em;
    background-color: #252525;
}
.celda {
    display: inline-block;
    flex: 1 1 auto;
    height: 3em;
    width: calc(100% / 7);
    z-index: 0;
    border-right: 0.5px solid #e1e1e1;
    border-bottom: 0.5px solid #e1e1e1;
    border-collapse: collapse;
    background: white;
}
.columnas{
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    width: calc(100% - 5em);
    height: 100%;
    z-index: 3;
    margin-top: 7em;
    margin-left: 5em; 
}
.columna{
    width: calc(100%/7);
    height: 100%;
    flex-flow: row wrap;
}
.evento {
    display: block;
    position: sticky;
    width: 100%;
    min-height: calc(var(--min)*25);
    overflow: hidden;
    padding: 5px;
    background-color: grey;
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
}
.hueco {
    background-color: transparent !important;
    box-shadow: none;
}
titulo {
    display: block;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 1.3em;
}
hora {
    display: block;
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 0;
    padding: 5px 10px;
    font-size: 8pt;
    float: right;
    text-align: right;
}
.evento > i{
    display: block;
    position: absolute;
    bottom: .5em;
    left: .5em;
    top: auto;
}
/* Marca de rojo el dia de hoy */
.hoy{
    color: #e44b4b !important;
}
/* Colores de los eventos */
.azul{
    background-color: #286B9B;
}
.rojo{
    background-color: #D13030;
}
.verde{
    background-color: #3BD359;
}
.morado{
    background-color: #8847AA;
}